{% extends "app/layout.html" %}

{% block content %}

<style>
    /* Style the modal background */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal content */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* Close button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
</style>

<div class="jumbotron">

    <h1>Mixer</h1>

</div>


<div class="row">

    <div class="col-md-4">

        <h3>Main Data</h3>

        <form action="oResuMix">

            V1 :    <input type="text" class="form-control" name="nTankDiameter" value="11000" style="color: blue" /><br />
            V2 :      <input type="text" class="form-control" name="nTankHeight" value="3000" style="color: blue" /><br />
            V3 :       <input type="text" class="form-control" name="nNArms" value="3" style="color: blue" /><br />

            <input type="submit" class="btn btn-primary" value="Ok" />


            <!-- The Modals -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <span class="close" data-modal="modal1">&times;</span>
                    <p>Project Data</p>

                    Project Name :      <input type="text" class="form-control" name="num11" value="Project1_Test" style="color: blue" /><br />
                    Client Name :       <input type="text" class="form-control" name="num12" value="Client1_Test" style="color: blue" /><br />
                    Consultant Name :   <input type="text" class="form-control" name="num13" value="Consultant1_Test" style="color: blue" /><br />
                    Contractor Name :   <input type="text" class="form-control" name="num14" value="Contractor1_Test" style="color: blue" /><br />


                </div>
            </div>

            <div id="modal2" class="modal">
                <div class="modal-content">
                    <span class="close" data-modal="modal2">&times;</span>
                    <p>Material Data</p>

                    Screen Bars :   <input type="text" class="form-control" name="num21" value="St.St.316" style="color: blue" /><br />
                    Frame :         <input type="text" class="form-control" name="num22" value="St.St.316" style="color: blue" /><br />
                    Rack :          <input type="text" class="form-control" name="num23" value="St.St.316" style="color: blue" /><br />
                    Rack (Teeth) :  <input type="text" class="form-control" name="num24" value="Artilon" style="color: blue" /><br />
                    Sprockets :     <input type="text" class="form-control" name="num25" value="St.St.316" style="color: blue" /><br />
                    Dead Plate :    <input type="text" class="form-control" name="num26" value="St.St.316" style="color: blue" /><br />
                    Chain :         <input type="text" class="form-control" name="num27" value="St.St.316" style="color: blue" /><br />
                    Bolts & Nuts :  <input type="text" class="form-control" name="num28" value="St.St.316" style="color: blue" /><br />
                </div>
            </div>

            <div id="modal3" class="modal">
                <div class="modal-content">
                    <span class="close" data-modal="modal3">&times;</span>
                    <p>Cost of raw material</p>

                    Cost of raw material (LE/Kg) : <input type="text" class="form-control" name="num31" value="350" style="color: blue" /><br />

                </div>
            </div>

            <div id="modal4" class="modal">
                <div class="modal-content">
                    <span class="close" data-modal="modal4">&times;</span>
                    <p>Other Data 4</p>

                    Gear Motor (LE):            <input type="text" class="form-control" name="num41" value="130000" style="color: blue" /><br />
                    Bearing with tension (LE):  <input type="text" class="form-control" name="num42" value="2800" style="color: blue" /><br />
                    Chain stst 316 (LE):        <input type="text" class="form-control" name="num43" value="5100" style="color: blue" /><br />
                    Drive shaft (LE):           <input type="text" class="form-control" name="num44" value="18000" style="color: blue" /><br />
                    Sprocket (LE):              <input type="text" class="form-control" name="num45" value="5100" style="color: blue" /><br />
                    Rake Artelon (LE):          <input type="text" class="form-control" name="num46" value="2900" style="color: blue" /><br />
                    Accessories (LE):           <input type="text" class="form-control" name="num47" value="5000" style="color: blue" /><br />
                    Control panel (LE):         <input type="text" class="form-control" name="num48" value="145000" style="color: blue" /><br />
                    Differential Level (LE):    <input type="text" class="form-control" name="num49" value="195000" style="color: blue" /><br />

                </div>
            </div>

            <div id="modal5" class="modal">
                <div class="modal-content">
                    <span class="close" data-modal="modal5">&times;</span>
                    <p>Other Data 5..</p>

                    Galvanizing (LE):               <input type="text" class="form-control" name="num51" value="25000" style="color: blue" /><br />
                    Painting (LE):                  <input type="text" class="form-control" name="num52" value="20000" style="color: blue" /><br />
                    Supervision & man power (LE):   <input type="text" class="form-control" name="num53" value="6700" style="color: blue" /><br />
                    Manufacturing (LE):             <input type="text" class="form-control" name="num54" value="13500" style="color: blue" /><br />
                    Transportation (LE):            <input type="text" class="form-control" name="num55" value="1000" style="color: blue" /><br />
                    Consumables (LE):               <input type="text" class="form-control" name="num56" value="9000" style="color: blue" /><br />
                    Packing (LE):                   <input type="text" class="form-control" name="num57" value="7000" style="color: blue" /><br />
                </div>
            </div>

            <div id="modal6" class="modal">
                <div class="modal-content">
                    <span class="close" data-modal="modal6">&times;</span>
                    <p>Mechanical Design Data</p>

                    Liner Velocity (m/s) :  <input type="text" class="form-control" name="nLinerVelocity" value="0.05" style="color: blue" /><br />
                    Safty Factor:           <input type="text" class="form-control" name="nSaftyFactor" value="1.5" style="color: blue" /><br />

                </div>
            </div>

            <div id="modal7" class="modal">
                <div class="modal-content">
                    <span class="close" data-modal="modal7">&times;</span>
                    <p>Factors Data</p>

                    Margin Factor : <input type="text" class="form-control" name="num71" value="1.5" style="color: blue" /><br />
                    Risk Factor :   <input type="text" class="form-control" name="num72" value="1.03" style="color: blue" /><br />

                </div>
            </div>

        </form>

    </div>


    <div class="col-md-4">
        <h3>Other Data</h3>

        <!-- Trigger/Open The Modals -->
        <button class="btn btn-success" id="btn1">Project Data              </button><br /><br />
        <button class="btn btn-success" id="btn2">Material Data             </button><br /><br />
        <button class="btn btn-success" id="btn3">Cost of raw material      </button><br /><br />
        <button class="btn btn-success" id="btn4">Cost of Imported parts    </button><br /><br />
        <button class="btn btn-success" id="btn5">Cost of Fabrication       </button><br /><br />
        <button class="btn btn-success" id="btn7">Factors Data              </button><br /><br />
        <button class="btn btn-success" id="btn6">Mechanical Design Data    </button><br /><br />


    </div>


</div>

{% endblock %}
